@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

#container{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}